
  <h2><%= link_to "TOPICS主頁", topics_path%></h2>
  <div class="row btn-group" role="group" aria-label="Basic example">
    <%= link_to "新增文章", new_topic_path, :class => "btn btn-success"%>
    <%= link_to "About", about_topics_path, :class => "btn btn-success"%>
  </div>
<div class="seperate"></div>
<div class="row">
  <span class="btn btn-info">分類選取：</span>
  <div class="row btn-group" role="group" aria-label="Basic example">
    <% Category.all.each do |c|%>
      <button type="button" class="btn btn-secondary">
        <%=link_to c.name, category_path(c) %>
      </button>
    <% end %>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>文章標題</th>
      <th>文章類別</th>
      <th>文章作者</th>
      <th>文章留言者</th>
      <th>文章建立時間</th>
      <th><%=link_to "文章最後回覆時間", topics_path(:order=>"comments_time")%></th>
      <th><%=link_to "文章回覆數量", topics_path(:order=>"comments_count")%></th>
      <th><%=link_to "文章瀏覽次數", topics_path(:order=>"views_count")%></th>
      <th>文章按讚數</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>

  <% @topics.each do |t| %>
      <tr>
        <td><%=link_to t.name, topic_path(t)%></td>
        <td>
          <%t.categories.each do |c|%>
            <%=c.name%>
          <%end%>
        </td>
        <td>
          <% if t.user_id%>
            <%=link_to t.user.try(:nickname), profile_user_path(t.user_id)%>
          <% end %>
        </td>
        <td>
          <%# t.comments.each do |c|%>
            <%#= link_to c.user.try(:nickname), profile_user_path(c.user_id) %>
          <%# end %>
          <% t.comments.pluck(:user_id).uniq.each do |u| %>
            <%=link_to User.find(u).try(:nickname), profile_user_path(u) %>
          <%end%>
        </td>
        <td><%=t.created_at%></td>

        <td>
          <%= if params[:order]=="comments_time"
                   t.comments.first.try(:created_at)
              else
                   t.comments.last.try(:created_at)
              end %>
        </td>
        <td>
           <%= t.comments.size %>
        </td>
        <td><%= t.view%></td>
        <td><%= t.liked_users.count%></td>
        <td><%=link_to "顯示內容", topic_path(t), :class =>"btn btn-success"%></td>
        <%if current_user == t.user%>
          <td><%=link_to "", edit_topic_path(t), :class =>"btn btn-info glyphicon glyphicon-pencil"%></td>
          <td><%=link_to "", topic_path(t),:method =>:delete, :class =>"btn btn-danger glyphicon glyphicon-trash"%></td>
        <% else %>
          <td></td>
          <td></td>
        <%end%>

      </tr>
      <% end %>
    </tbody>
</table>
  <%= paginate @topics %>

