   <%= form_for @topic, :url => topics_path, :method => :post do |f| %>
          <div class="form-group">
            <%= f.label :name, "文章主題" %>
            <%= f.text_field :name ,:class => "form-control"%>
          </div>
          上傳主題照片<%= f.file_field :picture%>
          <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name)%>
          <div class="form-group">
            <%= f.label :content, "文章內容" %>
            <%= f.text_area :content ,:class => "form-control"%>
          </div>
            <%= f.submit "Create", :class => "btn btn-primary"%>

     <% end %>