<h4>文章主題：<%= @topic.name%></h4>
<h4>類別：<% @topic.categories.each do |c|%>
      <%=c.name%>
    <%end%>
</h4>
<%= link_to "時間排序", topic_path(@topic,:order => "created_at"), :class =>"btn btn-info"%>
<span id="like">
  <% if @like
  # if current_user.likes.find_by_topic_id(@topic)
  # if current_user.liked_topics.include?(@topic)
    #上面兩的都可以
    %>
        <%= link_to "取消讚", topic_like_path(@topic,@like), :remote=>true,:method =>:delete, :class =>"btn btn-info" %>
  <% else %>
        <%=link_to "讚", topic_likes_path(@topic),:remote=>true,:method =>:post,  :class =>"btn btn-info" %>
  <% end %>
</span>
<%#= if Like.where(:topic_id => @topic.id, :user_id => current_user.id)
  #這個判斷式不能用，因為where找出來就算沒有也是[],不會是nil或false
      link_to "取消讚", topic_path(@topic,:like=>"cancel"), :class =>"btn btn-info"
    else
      link_to "讚", topic_path(@topic,:like=>"true"), :class =>"btn btn-info"
    end %>
<span id="subscribe">
  <% if @topic.subscribed_users.include?(current_user) %>
    <%= link_to "取消訂閱", topic_subscribe_path(@topic,@subscribe), :remote => true,:method => :delete, :class => "btn btn-success"%>
  <% else %>
     <%= link_to "訂閱", topic_subscribes_path(@topic), :remote => true, :method =>:post, :class => "btn btn-success"%>
  <% end %>
</span>
<%#= link_to "留言數排序", topic_path(@topic,:order => "comments_number"), :class =>"btn btn-info"%>
<h4>文章內容：<%= @topic.content%></h4>
<div class="topic-img">
  <%= image_tag @topic.picture.url(:medium) %>
</div>
<table class="table">
 <thead>
    <th>留言內容</th>
   <th>留言者</th>
   <th>留言時間</th>
 </thead>
  <tbody>
    <% @topic.comments.each do |c|%>
      <tr>
        <td><%=c.content%></td>
        <td><%=link_to c.user.try(:nickname), profile_user_path(c.user)%></td>
        <td><%=c.created_at.localtime.to_s(:db)%></td>
        <%if current_user == c.user%>
        <td><%=link_to "", edit_topic_comment_path(@topic,c), :class =>"btn btn-info glyphicon glyphicon-pencil"%></td>
        <td><%=link_to "", topic_comment_path(@topic,c),:method =>:delete, :class =>"btn btn-danger glyphicon glyphicon-trash"%></td>
        <%end%>
      </tr>
    <%end%>
  </tbody>




</table>

  <% @comment = @topic.comments.build %>
  <%=form_for @comment, :url => topic_comments_path(@topic), :method => :post do |f| %>
    <%=f.label :content,"留言"%>
    <%=f.text_area :content, :class =>"form-control"%>
    <%=f.submit "新增留言", :class =>"btn btn-primary"%>

  <% end %>


<%= link_to "返回主頁", topics_path, :class =>"btn btn-info"%>