<h4>文章主題：<%= @topic.name%></h4>
<h4>類別：<% @topic.categories.each do |c|%>
      <%=c.name%>
    <%end%>
</h4>
<%= link_to "時間排序", topic_path(@topic,:order => "created_at"), :class =>"btn btn-info"%>
<%#= link_to "留言數排序", topic_path(@topic,:order => "comments_number"), :class =>"btn btn-info"%>
<h4>文章內容：<%= @topic.content%></h4>
<table class="table">

  <h4>留言內容</h4>
  <%@comments.each do |c|%>
    <tr>
      <td><%=c.content%></td>
      <td><%=c.created_at%></td>
    </tr>
  <%end%>




</table>

  <% @comment = @topic.comments.build %>
  <%=form_for @comment, :url => topic_comments_path(@topic), :method => :post do |f| %>
    <%=f.label :content,"留言"%>
    <%=f.text_area :content, :class =>"form-control"%>
    <%=f.submit "新增留言", :class =>"btn btn-primary"%>

  <% end %>


<%= link_to "返回主頁", topics_path, :class =>"btn btn-info"%>