<h4>文章主題：<%= @topic.name%></h4>
<h4>類別：<% @topic.categories.each do |c|%>
      <%=c.name%>
    <%end%>
</h4>
<%= link_to "時間排序", topic_path(@topic,:order => "created_at"), :class =>"btn btn-info"%>
<span id="like">
  <%= if @like
  # if current_user.likes.find_by_topic_id(@topic)
  # if current_user.liked_topics.include?(@topic)
    #上面兩的都可以
        link_to "取消讚", topic_like_path(@topic,@like),:method =>:delete, :class =>"btn btn-info"
      else
        link_to "讚", topic_likes_path(@topic),:method =>:post, :class =>"btn btn-info"
      end %>

</span>
<%#= if Like.where(:topic_id => @topic.id, :user_id => current_user.id)
  #這個判斷式不能用，因為where找出來就算沒有也是[],不會是nil或false
      link_to "取消讚", topic_path(@topic,:like=>"cancel"), :class =>"btn btn-info"
    else
      link_to "讚", topic_path(@topic,:like=>"true"), :class =>"btn btn-info"
    end %>
<%#= link_to "留言數排序", topic_path(@topic,:order => "comments_number"), :class =>"btn btn-info"%>
<h4>文章內容：<%= @topic.content%></h4>
<table class="table">
 <thead>
    <th>留言內容</th>
   <th>留言者</th>
   <th>留言時間</th>
 </thead>
  <tbody>
    <% @topic.comments.each do |c|%>
      <tr>
        <td><%=c.content%></td>
        <td><%=c.user.try(:nickname)%></td>
        <td><%=c.created_at%></td>
      </tr>
    <%end%>
  </tbody>




</table>

  <% @comment = @topic.comments.build %>
  <%=form_for @comment, :url => topic_comments_path(@topic), :method => :post do |f| %>
    <%=f.label :content,"留言"%>
    <%=f.text_area :content, :class =>"form-control"%>
    <%=f.submit "新增留言", :class =>"btn btn-primary"%>

  <% end %>


<%= link_to "返回主頁", topics_path, :class =>"btn btn-info"%>