<div class="row">
      <h2>類別：<%=@category.name%></h2>
        <div class="col-sm-offset-2 col-sm-8">
          <table class="table">
            <% @topics.each do |t| %>
              <tr>
                <td>文章標題：<%=t.name%></td>
                <td>
                  <%t.categories.each do |c|%>
                    <%=c.name%>
                  <%end%>

                </td>
                <td><%=link_to "顯示內容", topic_path(t)%></td>
                <td><%=link_to "編輯內容", edit_topic_path(t)%></td>
                <td><%=link_to "刪除文章", topic_path(t),:method =>:delete%></td>
              </tr>

            <% end %>
          </table>
        </div>
  </div>
<%= paginate @topics %>

<%= link_to "返回主頁", topics_path, :class =>"btn btn-info"%>