<!DOCTYPE html>
<html>
  <head>
    <title>Forum1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
          <div class="col-sm-12">
            <%if flash[:notice].present?%>
              <div class="alert alert-success" role="alert">
                <p style="color: green"><%=flash[:notice] %></p>
              </div>
          </div>
          <%end%>
          <div class="col-sm-12">
            <%if flash[:alert].present?%>
              <div class="alert alert-danger" role="alert">
                <p style="color: red"><%=flash[:alert] %></p>
              </div>
            <%end%>
          </div>
    <%= yield %>
    </div>
  </body>
</html>
