<!DOCTYPE html>
<html>
  <head>
    <title>Forum1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
          <div class="col-sm-12">
            <%if flash[:notice].present?%>
              <div class="alert alert-success" role="alert">
                <p style="color: green"><%=flash[:notice] %></p>
              </div>
          </div>
          <%end%>
          <div class="col-sm-12">
            <%if flash[:alert].present?%>
              <div class="alert alert-danger" role="alert">
                <p style="color: red"><%=flash[:alert] %></p>
              </div>
            <%end%>
          </div>
          <% if current_user %>
            <%= current_user.nickname%>
            <%= link_to('登出', destroy_user_session_path, :method => :delete) %> |
            <%= link_to('編輯使用者資訊', edit_registration_path(:user)) %>
          <% else %>
            <%= link_to('註冊', new_registration_path(:user)) %> |
            <%= link_to('登入', new_session_path(:user)) %>
          <% end %>
    <%= yield %>
    </div>
  </body>
</html>
